.admin-page-container {
	display: grid;
	grid-template-rows: auto auto 1fr auto auto;
	grid-template-areas:
		"tool"
		"head"
		"body"
		"side"
		"foot";
	height: 100%;

	@include breakpoint(flyer) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto 1fr auto;
		grid-template-areas:
			"tool tool tool tool"
			"head head head head"
			"body body body side"
			"foot foot foot foot";
	}

	@at-root {
		.admin-page-toolbar {
			align-items: center;
			background-color: $white;
			box-shadow: $box-shadow-300;
			display: flex;
			grid-area: tool;
			justify-content: space-between;
			padding: 12px 48px;
			position: sticky;
			top: 0;
			z-index: 3;

			.section {
				flex: 0 1 auto;

				&.section-large {
					flex: 1 1 0;
				}
			}
		}

		.admin-page-header {
			grid-area: head;
			margin-bottom: -16px;
			padding: 48px 48px 0;

			.section {
				margin-bottom: 24px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.admin-page-content {
			grid-area: body;
			max-width: 1280px;
			padding: 48px;
			width: 100%;

			.section {
				margin-bottom: 64px;

				&.section-compact {
					margin-bottom: 32px;
				}

				&.section-break {
					border-bottom: 1px solid $color-border;
					margin-bottom: 48px;
					padding-bottom: 48px;
				}

				&:last-child {
					border-bottom: 0;
					margin-bottom: 0;
					padding-bottom: 0;
				}

				> h1,
				> h2,
				> h3,
				> h4,
				> h5,
				> h6 {
					margin: 2rem 0 1rem;

					&:first-child {
						margin-top: 0;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		.admin-page-aside {
			display: none;
			grid-area: side;
			padding: 0;
			position: sticky;
			bottom: 0;

			@include breakpoint(flyer) {
				align-self: start;
				bottom: auto;
				display: block;
				padding: 48px 48px 48px 0;
				top: 48px;
				width: 320px;
			}
		}

		.admin-page-footer {
			border-top: 1px solid $color-border;
			grid-area: foot;
			padding: 12px 48px;

			.attribution {
				@include font-size-200;
				color: $color-text-light;
				text-align: right;
			}

			.link {
				color: $color-text-light;
				font-weight: 700;
			}
		}
	}
}

.admin-sidebar {
	position: sticky;
	top: 0;

	@at-root {
		.admin-sidebar-logo {
			padding: 24px;

			.logo {
				max-width: 33.33333%;
			}
		}

		.admin-sidebar-nav {
			padding: 24px 0;
		}
	}
}

.admin-breadcrumb {
	@include font-size-400;
	color: $color-text-light;

	.parent,
	.link {
		color: $color-text;
		font-weight: 700;
	}

	.link {

		&:hover,
		&:focus {
			color: $color-one-500;
		}
	}
}

.admin-nav {

	@at-root {
		.admin-nav-items {
			list-style: none;
			margin: 0;
			padding: 0;

			&.admin-nav-items-child {
				display: none;
			}
		}

		.admin-nav-item {

			&:not(.admin-nav-item-child) {

				&:not(:last-child) {
					border-bottom: 1px solid rgba($white, 0.12);
					margin-bottom: 12px;
					padding-bottom: 12px;
				}
			}

			.heading {
				@include font-size-300;
				color: rgba($white, 0.4);
				cursor: pointer;
				font-weight: 400;
				letter-spacing: 0.08em;
				margin-bottom: 0;
				padding: 8px 24px;
				position: relative;
				text-transform: uppercase;

				&:before {
					content: "";
					background-color: rgba($white, 0.32);
					height: 100%;
					mask-image: url(../images/symbols/icon-chevron-down.svg);
					mask-repeat: no-repeat;
					mask-position: right center;
					mask-size: contain;
					right: 18px;
					position: absolute;
					top: 0;
					width: 20px;
				}

				&.is-toggled {

					&:before {
						mask-image: url(../images/symbols/icon-chevron-up.svg);
					}
				}
			}

			.link {
				// @include font-size-400;
				display: block;
				padding: 8px 24px;
				transition: all 0.2s ease-out;

				&:hover,
				&:focus {
					background-color: rgba($black, 0.2);
					text-decoration: none;
				}

				&.is-current {
					background-color: rgba($white, 0.12);
					font-weight: 700;
				}
			}
		}
	}
}

.admin-switcher {

	@at-root {
		.admin-switcher-options {
			background: $color-200;
			border-radius: 4px;
			display: flex;
			overflow: hidden;
		}

		.admin-switcher-option {
			flex: 1 1 50%;

			.input {
				display: none;

				&:checked {

					+ .label {
						background-color: $color-one-500;
						color: $white;
					}
				}
			}

			.label {
				@include font-size-400;
				color: $color-text-light;
				display: block;
				min-width: 40px;
				padding: 4px 8px;
				text-align: center;
			}
		}
	}
}

.admin-avatar {
	border-left: 2px solid $color-border-light;
	margin-left: 24px;
	padding-left: 24px;
	position: relative;

	@at-root {
		.admin-avatar-link {

			.link {
				align-items: center;
				display: flex;

				&:after {
					content: "";
					background-color: $color-text-lighter;
					display: block;
					height: 24px;
					margin-left: 4px;
					mask-image: url(../images/symbols/icon-chevron-down.svg);
					mask-repeat: no-repeat;
					mask-position: right center;
					mask-size: contain;
					width: 24px;
				}

				&.is-toggled {

					&:after {
						mask-image: url(../images/symbols/icon-chevron-up.svg);
					}
				}
			}

			.initial {
				background-color: $color-one-500;
				border-radius: 20px;
				color: $white;
				display: block;
				font-size: $font-size-400;
				font-weight: 700;
				letter-spacing: 0.05em;
				line-height: 36px;
				height: 40px;
				padding: 2px;
				text-align: center;
				width: 40px;
			}
		}

		.admin-avatar-menu {
			background-color: $white;
			border: 1px solid $color-border;
			border-radius: 3px;
			box-shadow: $box-shadow-400;
			display: none;
			margin-top: 16px;
			min-width: 200px;
			position: absolute;
			right: 0;
			top: 100%;
			z-index: 2;

			.items {
				padding: 8px;
			}

			.link {
				color: $color-text;
				display: block;
				padding: 4px 8px;
				text-align: center;

				&:hover,
				&:focus {
					color: $color-one-500;
				}
			}
		}
	}
}

.admin-widget {
	background-color: $white;
	box-shadow: $box-shadow-400;
	border: 1px solid $color-border-light;
	border-radius: 4px;

	.admin-widget-head {
		border-bottom: 1px solid $color-border-light;
		padding: 12px 24px;
	}

	.admin-widget-body {
		padding: 24px;

		.stat {

			.label {
				color: $color-text-light;
			}

			.value {
				font-weight: 700;
			}
		}
	}
}
