.popup-inline {
	background-color: $white;
	border: 1px solid $color-border;
	border-radius: 3px;
	box-shadow: $box-shadow-500;
	margin: 16px auto;
	max-width: 800px;
	position: relative;
	width: 100%;
	z-index: 9;

	&.popup-inline-small {
		max-width: 640px;
	}

	&.popup-inline-large {
		max-width: 1024px;
	}

	@at-root {
		.popup-inline-head {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin-bottom: -16px;
			padding: 40px 40px 0;
			position: relative;

			.heading {
				@include font-size-h2;
				font-weight: 400;
				margin-bottom: 0;
			}

			.search {

			}
		}

		.popup-inline-body {
			padding: 40px;
		}

		.popup-inline-foot {
			padding: 0 40px 40px;
		}
	}
}
