.proposal-card {
	border: 2px solid $color-border;
	padding: 32px;

	&:not(:last-child) {
		margin-bottom: 32px;
	}

	&.proposal-card-popup {
		border: 0;
		padding: 0;
	}

	@at-root {
		.proposal-card-head {
			@include font-size-400;
			border-bottom: 1px solid $color-border;
			display: flex;
			justify-content: space-between;
			margin-bottom: 16px;
			padding-bottom: 16px;

			.proposal {
				margin-bottom: 0;

				.id {
					font-weight: 700;
				}
			}

			.contact {
				margin-bottom: 0;
			}
		}

		.proposal-card-body {}

		.proposal-card-meta {
			@include font-size-400;
			margin-bottom: 24px;

			.meta {
				margin-bottom: 0;

				.label {
					display: inline-block;
					font-weight: 700;
					min-width: 80px;
				}
			}
		}

		.proposal-card-greeting {
			margin-bottom: 24px;
		}

		.proposal-card-bloc {
			margin-top: 24px;
		}

		.proposal-card-foot {
			margin-top: 32px;
		}

		.proposal-card-note {
			@include font-size-400;

			.label {
				font-weight: 700;
				margin-bottom: 0;
			}
		}

		.proposal-card-signature {
			margin-top: 32px;
		}
	}
}

.proposal-negotiation {

	@at-root {
		.proposal-negotiation-chat {
			background-color: $color-100;
			border-radius: 8px;
			box-shadow: $box-shadow-200;
			clear: both;
			padding: 16px;
			width: 48%;

			&:not(:last-child) {
				margin-bottom: 24px;
			}

			&.proposal-negotiation-chat-me {
				background-color: $color-success-200;
				float: right;
			}
		}

		.proposal-negotiation-input {
			border-top: 1px solid $color-border;
			margin-top: 32px;
			padding-top: 32px;

			.input {
				width: 100%;
			}

			.submit {
				margin-top: 12px;
				text-align: right;
			}
		}
	}
}
