.purchase-order {

	@at-root {
		.purchase-order-head {
			margin-bottom: 32px;
		}

		.purchase-order-metas {
			display: flex;
			margin-bottom: 16px;
		}

		.purchase-order-meta {
			@include font-size-400;
			flex: 1 1 0;

			&:not(:last-child) {
				margin-right: 32px;
			}

			.row {
				display: grid;
				grid-gap: 8px;
				grid-template-columns: 2fr 3fr;
				margin-bottom: 2px;

				.label {}

				.value {
					font-weight: 700;
				}
			}
		}

		.purchase-order-notes {
			@include font-size-400;
			margin-top: 32px;
		}

		.purchase-order-note {

			&:not(:last-child) {
				margin-bottom: 24px;
			}

			.legend {
				font-weight: 700;
				margin-bottom: 2px;
			}
		}
	}
}
