.search-bar {
	position: relative;

	@at-root {
		.search-bar-filter {
			left: 0;
			position: absolute;
			top: 1px;

			+ .search-bar-form {

				.input {
					padding-left: 56px;
				}
			}

			.toggle {
				color: $color-text;
				display: block;
				position: relative;
				height: 40px;
				width: 52px;

				&:before {
					content: "";
					background-color: $color-text-light;
					mask-image: url(../images/symbols/icon-caret-down.svg);
					mask-repeat: no-repeat;
					mask-position: right center;
					height: 40px;
					position: absolute;
					right: 0;
					width: 40px;
				}

				.icon {
					height: 40px;
					padding: 6px;
					width: 40px;
				}
			}

			.items {
				@include font-size-400;
				background-color: $white;
				border: 1px solid $color-border;
				box-shadow: $box-shadow-300;
				display: none;
				padding: 4px;
			}

			.item {

				.label {
					display: block;
					padding: 4px 8px;
				}
			}
		}

		.search-bar-form {
			display: flex;

			&:hover {

				.input {
					border-color: $color-one-500;
				}

				.button {
					background-color: $color-one-500;
					color: $white;
				}
			}

			.input {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				flex: 1 1 0;

				&:focus {


					+ .button {
						background-color: $color-one-500;
						color: $white;
					}
				}
			}

			.button {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
}
