.stat-grid {

	@at-root {
		.stat-grid-items {
			@include flex-flow(0px, 256px, 8px);
		}

		.stat-grid-item {
			background-color: $white;
			border: 1px solid $color-border-light;
			border-radius: 4px;
			overflow: hidden;
		}

		.stat-grid-meta {
			padding: 20px 16px 16px;

			.row {
				margin-bottom: 0;
			}

			.label {
				@include font-size-h6;
				margin-bottom: 2px;
				text-transform: uppercase;
			}

			.date {
				@include font-size-400;
				color: $color-text-light;
			}

			.value {
				font-weight: 700;
			}
		}

		.stat-grid-summary {
			background-color: $color-100;
			padding: 8px 16px;

			&.stat-grid-summary-negative {
				background-color: $color-alert-200;
			}

			&.stat-grid-summary-positive {
				background-color: $color-success-200;
			}

			.row {
				@include font-size-300;

				.icon {
					fill: $color-text-lighter;
					height: 20px;
					width: 20px;
				}

				.value {
					font-weight: 700;
				}
			}

			.positive {
				color: $color-success-600;

				.icon {
					fill: $color-success-400;
				}
			}

			.negative {
				color: $color-alert-600;

				.icon {
					fill: $color-alert-400;
				}
			}
		}
	}
}
