.tab-area {

	@at-root {
		.tab-area-nav {
			border-bottom: 3px solid $color-border-light;
			display: flex;
			margin-bottom: 24px;

			.link {
				color: $color-text-lighter;
				display: block;
				font-weight: 700;
				padding: 8px 0;
				transition: all 0.2s ease-out;

				&:hover,
				&:focus {
					box-shadow: 0 3px 0 $color-400;
					color: $color-text-light;
				}

				&:not(:last-child) {
					margin-right: 24px;
				}

				&.is-tabbed {
					box-shadow: 0 3px 0 $color-one-500;
					color: $color-text;
				}
			}
		}
	}
}
